@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  --navbar-height: 60px;
}
header {
  position: relative;
  padding: 0 2rem;
}
.navbar--hidden {
  transform: translateY(calc(-1 * var(--navbar-height)));

  box-shadow: none;
}
.navbar {
  transition: transform 0.2s;
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;

  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .contact {
    text-decoration: none;
    background-color: orange;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight: 600;
  }
  .logo {
    a {
      font-size: 34px;
      font-weight: 600;
      text-decoration: none;
      color: black;
    }
  }
  .links {
    /* ul*/
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    list-style-type: none;
    li {
      a {
        color: black;
        text-decoration: none;
        font-weight: 600;
      }
    }
    .submenu {
      display: block;
      a:hover {
        background-color: rgb(167, 197, 197);
      }
      .dropdown {
        border-radius: 15px;
        padding: 0 0 0 25px;
        width: 150px;
        background-color: rgb(170, 184, 184);
        position: absolute;
        z-index: 999;
        display: none;

        li {
          display: block;
        }
      }
    }
  }
  .submenu:hover {
    .dropdown {
      display: block;
    }
  }
  .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
}
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: rgb(173, 169, 169);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  overflow: hidden;
  li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.dropdown_menu.open {
  height: 240px;
}

.home-page {
  .vid-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 99vh;
    overflow-x: hidden;
    z-index: -1;

    .video {
      position: absolute;
      background-size: cover;
      object-fit: cover;
      float: left;
      width: 100%;
      height: 100%;
    }
  }

  height: 90vh;
  .scroll-down {
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 10%;

    a {
      font-size: 36px;
      color: black;
      animation: scroll 3s infinite;
    }
    @keyframes scroll {
      0% {
        opacity: 0;
        transform: translateY(-15px);
      }

      100% {
        opacity: 1;
        transform: translateY(15px);
      }
    }
    a:hover {
      transform: translateY(-5px);
    }
  }
  .box {
    width: 100%;
    .main-text {
      position: absolute;

      top: 30%;

      p {
        line-height: 40px;
      }
      .two {
        font-weight: 600;
      }
    }
  }
}

.information {
  height: 100vh;
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .contact {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
